
body {
    background: grey;
    padding:20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
}
select, input {
    padding: 5px 6px;
    width:118px;
}
.rakuten-table {
    background: white;
    padding: 30px;
    border-radius: 4px;
}
.action-button {
    padding: 6px 14px;
    border-radius: 4px;
    background: #e23123;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 12px;
    cursor:pointer;
    &:hover{
        background: #d32d21;
    }
    &:active{
        background: #c0281d;
    }
}
.search {
    font-size: 14px;
    position: fixed;
    z-index:100;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
    left: 0;
    width: 100%;
    height: 50px;
    padding: 12px 50px 10px 50px;
    box-sizing: border-box;
    color: #444;
    .search-section {
        &.current-search{
            width: 26%;
            max-width: 26%;
            height: 100%;
            white-space: nowrap;
            vertical-align: -12px;
            overflow: hidden;
            padding-right: 43px;
            box-sizing: border-box;
            span {
                overflow-x: scroll;
                height: 44px;
                display: inline-block;
                width: 100%;
            }
        }
        &.search-count {
            width: 32%;
            max-width: 32%;
        }
        &.search-function {
            width: 41%;
            max-width: 41%;
        }
        display: inline-block;
        .search-form {
            display:inline-block;
        }
        .result-count {
            color: #e23123;
            font-weight:bold;
        }
    }
}
.header {
    &&.row {
        .data-cell {
            font-weight:bold;
            background:#E23123;
            color:white;
            position:relative;
            .filter-icon {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 6px;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 26px;
                font-size: 32px;
                /* display: inline-block; */
                display:none;
                vertical-align: middle;
            }
        }
    }
}
.row {
    &:nth-child(even){
        .data-cell{
            background:#d2d2d2;
        }
    }
    .data-cell {
        font-size:13px;
        display: inline-block;
        background: #f3f3f3;
        width: 25%;
        padding: 4px 8px;
        box-sizing: border-box;
        border: 1px solid #222;
    }
}